In [9]:
import pandas as pd
import numpy as np
input_file = '../data/DataFiles/NCAATourneySeeds.csv'
regular_season_file = '../data/DataFiles/RegularSeasonCompactResults.csv'

In [4]:
data = pd.read_csv(regular_season_file)

In [6]:
data['teamA'] = data[['WTeamID', 'LTeamID']].min(axis = 1)
data['teamB'] = data[['WTeamID', 'LTeamID']].max(axis = 1)

In [7]:
data.head()

   Season  DayNum  WTeamID  WScore  LTeamID  LScore WLoc  NumOT  teamA  teamB
0    1985      20     1228      81     1328      64    N      0   1228   1328
1    1985      25     1106      77     1354      70    H      0   1106   1354
2    1985      25     1112      63     1223      56    H      0   1112   1223
3    1985      25     1165      70     1432      54    H      0   1165   1432
4    1985      25     1192      86     1447      74    H      0   1192   1447

In [10]:
# data['scoreA'] = data['teamA'].apply(lambda x:)
data['scoreA'] = np.where(data['teamA'] == data['WTeamID'], data['WScore'], data['LScore'])
data['scoreB'] = np.where(data['teamB'] == data['WTeamID'], data['WScore'], data['LScore'])
data['day_num'] = data['DayNum']
data['year'] = data['Season']

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,teamA,teamB,scoreA
0,1985,20,1228,81,1328,64,N,0,1228,1328,81
1,1985,25,1106,77,1354,70,H,0,1106,1354,77
2,1985,25,1112,63,1223,56,H,0,1112,1223,63
3,1985,25,1165,70,1432,54,H,0,1165,1432,70
4,1985,25,1192,86,1447,74,H,0,1192,1447,86
5,1985,25,1218,79,1337,78,H,0,1218,1337,79
6,1985,25,1228,64,1226,44,N,0,1226,1228,44
7,1985,25,1242,58,1268,56,N,0,1242,1268,58
8,1985,25,1260,98,1133,80,H,0,1133,1260,80
9,1985,25,1305,97,1424,89,H,0,1305,1424,97
10,1985,25,1307,103,1288,71,H,0,1288,1307,71
11,1985,25,1344,75,1438,71,N,0,1344,1438,75
12,1985,25,1374,91,1411,72,H,0,1374,1411,91
13,1985,25,1412,70,1397,65,N,0,1397,1412,65
14,1985,25,1417,87,1225,58,H,0,1225,1417,58
15,1985,26,1116,65,1368,62,H,0,1116,1368,65
16,1985,26,1120,92,1391,50,H,0,1120,1391,92
17,1985,26,1135,65,1306,60,A,0,1135,1306,65
18,1985,26,1143,58,1388,53,H,0,1143,1388,58
19,1985,26,1153,50,1184,48,H,0,1153,1184,50